---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';

const placeholder = `
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In elementum sagittis velit. Nulla tincidunt fermentum enim ut semper. Curabitur efficitur augue nec metus porta cursus. Maecenas eleifend id purus condimentum euismod. Morbi pulvinar, lectus vitae vulputate laoreet, orci ante egestas mi, ut faucibus nisl enim nec diam.
`;
---

<Layout title="Popmelt Astro Start File">
    <section>
        <Hero />
    </section>
</Layout>

<style>
    section {
        max-width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
</style>
